In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# just checking to see how my pickle file reads into the notebook
brfss_2009 = pd.read_pickle('./Pickled_Data/brfss_2009.pkl')
brfss_2010 = pd.read_pickle('./Pickled_Data/brfss_2010.pkl')
brfss_2011 = pd.read_pickle('./Pickled_Data/brfss_2011.pkl')
brfss_2012 = pd.read_pickle('./Pickled_Data/brfss_2012.pkl')

In [3]:
# since I'm interested specifically in ACE then any row with null values for those questions will be dropped
brfss_2009.dropna(subset=['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'], inplace=True)
brfss_2010.dropna(subset=['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'], inplace=True)
brfss_2011.dropna(subset=['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'], inplace=True)
brfss_2012.dropna(subset=['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'], inplace=True)

In [4]:
# creating a dataframe with data from all years
brfss_total = pd.concat([brfss_2009, brfss_2010, brfss_2011, brfss_2012], ignore_index=True)

In [5]:
# only 11 columns have null values
brfss_total.isna().sum()

_STATE           0
DISPCODE         0
GENHLTH          0
PHYSHLTH         0
MENTHLTH         0
POORHLTH     57264
SMOKE100         0
SMOKDAY2     62010
STOPSMK2     98296
USENOW3          0
AGE              0
HISPANC2         0
MRACE            0
ORACE2      113943
MARITAL          0
CHILDREN        21
EDUCA            0
EMPLOY           0
INCOME2         63
RENTHOM1     28001
SEX              0
EXERANY2         0
QLACTLM2         0
AVEDRNK2     55672
DRNK3GE5     55672
QLREST2      67208
SLEPTIME     81700
SCNTMONY     92918
SCNTMEAL     91209
ACEDEPRS         0
ACEDRINK         0
ACEDRUGS         0
ACEPRISN         0
ACEDIVRC         0
ACEPUNCH         0
ACEHURT          0
ACESWEAR         0
ACETOUCH         0
ACETTHEM         0
ACEHVSEX         0
MSCODE       14378
_IMPAGE          0
_RFHLTH          0
_SMOKER3         0
_RFSMOK3         0
_PRACE           0
_EDUCAG          0
_INCOMG          0
_TOTINDA         0
dtype: int64

In [6]:
# will drop columns that are used to calculate other variables that I won't be dropping such as 'AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2',
# '_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2' and any with 50_000 or more null values
brfss_total.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2', 
                            'SCNTMEAL', 'SCNTMONY', 'SLEPTIME', 'ORACE2', 'POORHLTH', 'QLREST2', 'AVEDRNK2', 'DRNK3GE5', 'STOPSMK2'],
                            inplace=True)

In [7]:
# replacing all don't knows, refused answers or none with zeros
brfss_total = brfss_total.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})

In [8]:
# will replace nulls with 0
brfss_total['RENTHOM1'].fillna(0, inplace = True)

In [9]:
brfss_total['CHILDREN'].fillna(0, inplace=True)

In [10]:
brfss_total['MSCODE'].fillna(0, inplace=True)

In [11]:
brfss_total.isna().sum()

_STATE      0
DISPCODE    0
PHYSHLTH    0
MENTHLTH    0
USENOW3     0
HISPANC2    0
MARITAL     0
CHILDREN    0
EMPLOY      0
RENTHOM1    0
SEX         0
QLACTLM2    0
ACEDEPRS    0
ACEDRINK    0
ACEDRUGS    0
ACEPRISN    0
ACEDIVRC    0
ACEPUNCH    0
ACEHURT     0
ACESWEAR    0
ACETOUCH    0
ACETTHEM    0
ACEHVSEX    0
MSCODE      0
_IMPAGE     0
_RFHLTH     0
_SMOKER3    0
_PRACE      0
_EDUCAG     0
_INCOMG     0
_TOTINDA    0
dtype: int64

In [12]:
brfss_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117555 entries, 0 to 117554
Data columns (total 31 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    117555 non-null  float64
 1   DISPCODE  117555 non-null  float64
 2   PHYSHLTH  117555 non-null  float64
 3   MENTHLTH  117555 non-null  float64
 4   USENOW3   117555 non-null  float64
 5   HISPANC2  117555 non-null  float64
 6   MARITAL   117555 non-null  float64
 7   CHILDREN  117555 non-null  float64
 8   EMPLOY    117555 non-null  float64
 9   RENTHOM1  117555 non-null  float64
 10  SEX       117555 non-null  float64
 11  QLACTLM2  117555 non-null  float64
 12  ACEDEPRS  117555 non-null  float64
 13  ACEDRINK  117555 non-null  float64
 14  ACEDRUGS  117555 non-null  float64
 15  ACEPRISN  117555 non-null  float64
 16  ACEDIVRC  117555 non-null  float64
 17  ACEPUNCH  117555 non-null  float64
 18  ACEHURT   117555 non-null  float64
 19  ACESWEAR  117555 non-null  float64
 20  ACETOUCH  117555 non-null  float64
 21  ACETTHEM  117555 non-null  float64
 22  ACEHVSEX  117555 non-null  float64
 23  MSCODE    117555 non-null  float64
 24  _IMPAGE   117555 non-null  float64
 25  _RFHLTH   117555 non-null  float64
 26  _SMOKER3  117555 non-null  float64
 27  _PRACE    117555 non-null  float64
 28  _EDUCAG   117555 non-null  float64
 29  _INCOMG   117555 non-null  float64
 30  _TOTINDA  117555 non-null  float64
dtypes: float64(31)
memory usage: 27.8 MB

In [13]:
brfss_2009.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2', 
                            'SCNTMEAL', 'SCNTMONY', 'SLEPTIME', 'ORACE2', 'POORHLTH', 'QLREST2', 'AVEDRNK2', 'DRNK3GE5', 'STOPSMK2'],
                            inplace=True)
brfss_2010.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2', 
                            'SCNTMEAL', 'SCNTMONY', 'SLEPTIME', 'ORACE2', 'POORHLTH', 'QLREST2', 'AVEDRNK2', 'DRNK3GE5', 'STOPSMK2'],
                            inplace=True)
brfss_2011.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2', 
                            'SCNTMEAL', 'SCNTMONY', 'SLEPTIME', 'ORACE2', 'POORHLTH', 'QLREST2', 'AVEDRNK2', 'DRNK3GE5', 'STOPSMK2'],
                            inplace=True)
brfss_2012.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2', 
                            'SCNTMEAL', 'SCNTMONY', 'SLEPTIME', 'ORACE2', 'POORHLTH', 'QLREST2', 'AVEDRNK2', 'DRNK3GE5', 'STOPSMK2'],
                            inplace=True)

In [14]:
# replacing all don't knows, refused answers or none with zeros
brfss_2009 = brfss_2009.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})
# replacing all don't knows, refused answers or none with zeros
brfss_2010 = brfss_2010.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})
# replacing all don't knows, refused answers or none with zeros
brfss_2011 = brfss_2011.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})
# replacing all don't knows, refused answers or none with zeros
brfss_2012 = brfss_2012.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})

In [15]:
brfss_2009.isna().sum()

_STATE         0
DISPCODE       0
PHYSHLTH       0
MENTHLTH       0
USENOW3        0
HISPANC2       0
MARITAL        0
CHILDREN       0
EMPLOY         0
RENTHOM1    3681
SEX            0
QLACTLM2       0
ACEDEPRS       0
ACEDRINK       0
ACEDRUGS       0
ACEPRISN       0
ACEDIVRC       0
ACEPUNCH       0
ACEHURT        0
ACESWEAR       0
ACETOUCH       0
ACETTHEM       0
ACEHVSEX       0
MSCODE         0
_IMPAGE        0
_RFHLTH        0
_SMOKER3       0
_PRACE         0
_EDUCAG        0
_INCOMG        0
_TOTINDA       0
dtype: int64

In [16]:
# will replace nulls with 0
brfss_2009['RENTHOM1'].fillna(0, inplace = True)

In [17]:
brfss_2009.isna().sum()

_STATE      0
DISPCODE    0
PHYSHLTH    0
MENTHLTH    0
USENOW3     0
HISPANC2    0
MARITAL     0
CHILDREN    0
EMPLOY      0
RENTHOM1    0
SEX         0
QLACTLM2    0
ACEDEPRS    0
ACEDRINK    0
ACEDRUGS    0
ACEPRISN    0
ACEDIVRC    0
ACEPUNCH    0
ACEHURT     0
ACESWEAR    0
ACETOUCH    0
ACETTHEM    0
ACEHVSEX    0
MSCODE      0
_IMPAGE     0
_RFHLTH     0
_SMOKER3    0
_PRACE      0
_EDUCAG     0
_INCOMG     0
_TOTINDA    0
dtype: int64

In [18]:
brfss_2010.isna().sum()

_STATE          0
DISPCODE        0
PHYSHLTH        0
MENTHLTH        0
USENOW3         0
HISPANC2        0
MARITAL         0
CHILDREN        0
EMPLOY          0
RENTHOM1    24320
SEX             0
QLACTLM2        0
ACEDEPRS        0
ACEDRINK        0
ACEDRUGS        0
ACEPRISN        0
ACEDIVRC        0
ACEPUNCH        0
ACEHURT         0
ACESWEAR        0
ACETOUCH        0
ACETTHEM        0
ACEHVSEX        0
MSCODE          0
_IMPAGE         0
_RFHLTH         0
_SMOKER3        0
_PRACE          0
_EDUCAG         0
_INCOMG         0
_TOTINDA        0
dtype: int64

In [19]:
brfss_2010['RENTHOM1'].fillna(0, inplace = True)
brfss_2010.isna().sum()

_STATE      0
DISPCODE    0
PHYSHLTH    0
MENTHLTH    0
USENOW3     0
HISPANC2    0
MARITAL     0
CHILDREN    0
EMPLOY      0
RENTHOM1    0
SEX         0
QLACTLM2    0
ACEDEPRS    0
ACEDRINK    0
ACEDRUGS    0
ACEPRISN    0
ACEDIVRC    0
ACEPUNCH    0
ACEHURT     0
ACESWEAR    0
ACETOUCH    0
ACETTHEM    0
ACEHVSEX    0
MSCODE      0
_IMPAGE     0
_RFHLTH     0
_SMOKER3    0
_PRACE      0
_EDUCAG     0
_INCOMG     0
_TOTINDA    0
dtype: int64

In [20]:
brfss_2011.isna().sum()

_STATE         0
DISPCODE       0
PHYSHLTH       0
MENTHLTH       0
USENOW3        0
HISPANC2       0
MARITAL        0
CHILDREN      21
EMPLOY         0
RENTHOM1       0
SEX            0
QLACTLM2       0
ACEDEPRS       0
ACEDRINK       0
ACEDRUGS       0
ACEPRISN       0
ACEDIVRC       0
ACEPUNCH       0
ACEHURT        0
ACESWEAR       0
ACETOUCH       0
ACETTHEM       0
ACEHVSEX       0
MSCODE      7359
_IMPAGE        0
_RFHLTH        0
_SMOKER3       0
_PRACE         0
_EDUCAG        0
_INCOMG        0
_TOTINDA       0
dtype: int64

In [21]:
brfss_2011['CHILDREN'].fillna(0, inplace=True)
brfss_2011['MSCODE'].fillna(0, inplace=True)
brfss_2011.isna().sum()

_STATE      0
DISPCODE    0
PHYSHLTH    0
MENTHLTH    0
USENOW3     0
HISPANC2    0
MARITAL     0
CHILDREN    0
EMPLOY      0
RENTHOM1    0
SEX         0
QLACTLM2    0
ACEDEPRS    0
ACEDRINK    0
ACEDRUGS    0
ACEPRISN    0
ACEDIVRC    0
ACEPUNCH    0
ACEHURT     0
ACESWEAR    0
ACETOUCH    0
ACETTHEM    0
ACEHVSEX    0
MSCODE      0
_IMPAGE     0
_RFHLTH     0
_SMOKER3    0
_PRACE      0
_EDUCAG     0
_INCOMG     0
_TOTINDA    0
dtype: int64

In [22]:
brfss_2012.isna().sum()

_STATE         0
DISPCODE       0
PHYSHLTH       0
MENTHLTH       0
USENOW3        0
HISPANC2       0
MARITAL        0
CHILDREN       0
EMPLOY         0
RENTHOM1       0
SEX            0
QLACTLM2       0
ACEDEPRS       0
ACEDRINK       0
ACEDRUGS       0
ACEPRISN       0
ACEDIVRC       0
ACEPUNCH       0
ACEHURT        0
ACESWEAR       0
ACETOUCH       0
ACETTHEM       0
ACEHVSEX       0
MSCODE      7019
_IMPAGE        0
_RFHLTH        0
_SMOKER3       0
_PRACE         0
_EDUCAG        0
_INCOMG        0
_TOTINDA       0
dtype: int64

In [23]:
brfss_2012['MSCODE'].fillna(0, inplace=True)
brfss_2012.isna().sum()

_STATE      0
DISPCODE    0
PHYSHLTH    0
MENTHLTH    0
USENOW3     0
HISPANC2    0
MARITAL     0
CHILDREN    0
EMPLOY      0
RENTHOM1    0
SEX         0
QLACTLM2    0
ACEDEPRS    0
ACEDRINK    0
ACEDRUGS    0
ACEPRISN    0
ACEDIVRC    0
ACEPUNCH    0
ACEHURT     0
ACESWEAR    0
ACETOUCH    0
ACETTHEM    0
ACEHVSEX    0
MSCODE      0
_IMPAGE     0
_RFHLTH     0
_SMOKER3    0
_PRACE      0
_EDUCAG     0
_INCOMG     0
_TOTINDA    0
dtype: int64

In [24]:
# saving cleaned datasets to .csv files
brfss_total.to_csv('./csv_data/brfss_total.csv')
brfss_2009.to_csv('./csv_data/brfss_2009.csv')
brfss_2010.to_csv('./csv_data/brfss_2010.csv')
brfss_2011.to_csv('./csv_data/brfss_2011.csv')
brfss_2012.to_csv('./csv_data/brfss_2012.csv')