In [1]:
# from sodapy import Socrata
# import pyreadstat
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
results_df2.groupby(by = 'class')['sample_size'].mean()

class
Alcohol Consumption             316.608696
Cholesterol Awareness           211.269841
Chronic Health Indicators       285.335000
Days of Poor Health             273.012658
Demographics                    177.752174
Fruits and Vegetables           366.177778
HIV-AIDS                        288.954545
Health Care Access/Coverage     231.408805
Health Status                   174.481481
Hypertension Awareness          295.652174
Immunization                    123.340206
Overweight and Obesity (BMI)    172.686275
Physical Activity               312.771429
Tobacco Use                     170.491379
Name: sample_size, dtype: float64

In [2]:
# reading in 2011 BRFSS
df_11 = pd.read_sas('./SAS_Data/LLCP2011.XPT', format='xport')

In [3]:
# checking out the data
df_11.head()

,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,DRNKANY5,DROCDY3_,_RFBING5,_DRNKDY4,_DRNKMO4,_RFDRHV4,_RFDRMN4,_RFDRWM4,_AIDTST3,HAVHPAD
0,1.0,1.0,1.0,1.0,10001.0,27.0,1.0,b'01202011',b'01',b'20',...,1.0,4.300000e+01,1.0,8.600000e+01,2.600000e+01,1.0,NaN,1.0,2.0,NaN
1,1.0,1.0,1.0,1.0,10008.0,13.0,1.0,b'01142011',b'01',b'14',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,9.0,NaN,NaN,NaN
2,1.0,5.0,1.0,1.0,10058.0,4.0,1.0,b'01062011',b'01',b'06',...,1.0,1.400000e+01,1.0,1.400000e+01,4.000000e+00,1.0,NaN,1.0,2.0,NaN
3,1.0,7.0,1.0,1.0,10079.0,7.0,1.0,b'02012011',b'02',b'01',...,9.0,9.000000e+02,9.0,9.900000e+03,9.999000e+03,9.0,NaN,9.0,NaN,NaN
4,1.0,7.0,1.0,1.0,10081.0,28.0,1.0,b'02012011',b'02',b'01',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,1.0,NaN

In [4]:
df_11.tail()

,_STATE,_GEOSTR,_DENSTR2,PRECALL,REPNUM,REPDEPTH,FMONTH,IDATE,IMONTH,IDAY,...,DRNKANY5,DROCDY3_,_RFBING5,_DRNKDY4,_DRNKMO4,_RFDRHV4,_RFDRMN4,_RFDRWM4,_AIDTST3,HAVHPAD
506462,72.0,99.0,9.0,1.0,80022.0,15.0,8.0,b'09152011',b'09',b'15',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,1.0,NaN
506463,72.0,99.0,9.0,1.0,80040.0,1.0,8.0,b'09142011',b'09',b'14',...,1.0,7.000000e+00,2.0,2.700000e+01,8.000000e+00,1.0,NaN,1.0,1.0,NaN
506464,72.0,99.0,9.0,1.0,80046.0,30.0,8.0,b'09112011',b'09',b'11',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,1.0,NaN
506465,72.0,99.0,9.0,1.0,80055.0,4.0,8.0,b'09192011',b'09',b'19',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,NaN,1.0,2.0,NaN
506466,72.0,99.0,9.0,1.0,80061.0,7.0,8.0,b'09172011',b'09',b'17',...,2.0,5.397605e-79,1.0,5.397605e-79,5.397605e-79,1.0,1.0,NaN,1.0,NaN

In [5]:
df_11.shape

(506467, 454)

Going to get rid of most of the columns, only keeping demographic information, ACE questions, and questions about mental and some health behaviors

In [7]:
brfss_2011_small = df_11[['_STATE', 'DISPCODE', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'SMOKE100', 
                       'SMOKDAY2', 'STOPSMK2', 'USENOW3', 'AGE', 'HISPANC2', 'MRACE', 'ORACE2', 'MARITAL',
                       'CHILDREN', 'EDUCA', 'EMPLOY', 'INCOME2', 'RENTHOM1', 'SEX', 'EXERANY2', 'QLACTLM2',
                        'AVEDRNK2', 'DRNK3GE5', 'QLREST2', 'SLEPTIME', 'SCNTMONY', 'SCNTMEAL', 
                       'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'MSCODE', '_IMPAGE', '_RFHLTH', '_SMOKER3', 
                       '_RFSMOK3', '_PRACE', '_EDUCAG', '_INCOMG', '_TOTINDA']]

In [6]:
brfss_2011_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506467 entries, 0 to 506466
Data columns (total 49 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    506467 non-null  float64
 1   DISPCODE  506467 non-null  float64
 2   GENHLTH   506464 non-null  float64
 3   PHYSHLTH  506466 non-null  float64
 4   MENTHLTH  506467 non-null  float64
 5   POORHLTH  264457 non-null  float64
 6   SMOKE100  506467 non-null  float64
 7   SMOKDAY2  232860 non-null  float64
 8   STOPSMK2  84750 non-null   float64
 9   USENOW3   506464 non-null  float64
 10  AGE       506466 non-null  float64
 11  HISPANC2  506467 non-null  float64
 12  MRACE     506467 non-null  object
 13  ORACE2    10080 non-null   float64
 14  MARITAL   506249 non-null  float64
 15  CHILDREN  505877 non-null  float64
 16  EDUCA     506118 non-null  float64
 17  EMPLOY    506024 non-null  float64
 18  INCOME2   505468 non-null  float64
 19  RENTHOM1  504218 non-null  float64
 20  SEX       506467 non-null  float64
 21  EXERANY2  485742 non-null  float64
 22  QLACTLM2  481918 non-null  float64
 23  AVEDRNK2  242385 non-null  float64
 24  DRNK3GE5  242218 non-null  float64
 25  QLREST2   23137 non-null   float64
 26  SLEPTIME  23130 non-null   float64
 27  SCNTMONY  38749 non-null   float64
 28  SCNTMEAL  40519 non-null   float64
 29  ACEDEPRS  48526 non-null   float64
 30  ACEDRINK  48505 non-null   float64
 31  ACEDRUGS  48500 non-null   float64
 32  ACEPRISN  48496 non-null   float64
 33  ACEDIVRC  48492 non-null   float64
 34  ACEPUNCH  48484 non-null   float64
 35  ACEHURT   48478 non-null   float64
 36  ACESWEAR  48469 non-null   float64
 37  ACETOUCH  48461 non-null   float64
 38  ACETTHEM  48450 non-null   float64
 39  ACEHVSEX  48437 non-null   float64
 40  MSCODE    429099 non-null  float64
 41  _IMPAGE   506467 non-null  float64
 42  _RFHLTH   506467 non-null  float64
 43  _SMOKER3  506467 non-null  float64
 44  _RFSMOK3  506467 non-null  float64
 45  _PRACE    506259 non-null  float64
 46  _EDUCAG   506467 non-null  float64
 47  _INCOMG   506467 non-null  float64
 48  _TOTINDA  506467 non-null  float64
dtypes: float64(48), object(1)
memory usage: 189.3+ MB

In [7]:
# now down to only 69 columns
brfss_2011_small.shape

(506467, 49)

In [8]:
# turning my 2011 data into a pickle file
pd.to_pickle(brfss_2011_small, './Pickled_Data/brfss_2011.pkl')

In [9]:
# just checking to see how my pickle file reads into the notebook
df_11 = pd.read_pickle('./Pickled_Data/brfss_2011.pkl')

In [62]:
# looks like only 5 states used the ACE in 2011 so will condense data set to only include these 5 states
brfss_2011_small.groupby(['_STATE', 'ACEDEPRS']).size()

_STATE  ACEDEPRS
27.0    1.0          2195
        2.0         11480
        7.0           105
        9.0           183
30.0    1.0          1524
        2.0          7706
        7.0            62
        9.0            36
50.0    1.0          1090
        2.0          5629
        7.0            42
        9.0            25
53.0    1.0          2531
        2.0         11318
        7.0           101
        9.0            16
55.0    1.0           577
        2.0          3865
        7.0            16
        9.0            25
dtype: int64

In [63]:
brfss_2011_small.groupby(['_STATE', 'ACEDRINK']).size()

_STATE  ACEDRINK
27.0    1.0          3220
        2.0         10491
        7.0            59
        9.0           184
30.0    1.0          2580
        2.0          6683
        7.0            26
        9.0            37
50.0    1.0          1613
        2.0          5124
        7.0            23
        9.0            24
53.0    1.0          3601
        2.0         10288
        7.0            50
        9.0            24
55.0    1.0           969
        2.0          3484
        7.0             8
        9.0            17
dtype: int64

In [64]:
brfss_2011_small.groupby(['_STATE', 'ACEDRUGS']).size()

_STATE  ACEDRUGS
27.0    1.0          1091
        2.0         12625
        7.0            55
        9.0           181
30.0    1.0           764
        2.0          8512
        7.0            28
        9.0            22
50.0    1.0           455
        2.0          6284
        7.0            30
        9.0            15
53.0    1.0          1178
        2.0         12708
        7.0            65
        9.0            10
55.0    1.0           284
        2.0          4173
        7.0            11
        9.0             9
dtype: int64

In [65]:
brfss_2011_small.groupby(['_STATE', 'ACEPRISN']).size()

_STATE  ACEPRISN
27.0    1.0           641
        2.0         13106
        7.0            29
        9.0           174
30.0    1.0           482
        2.0          8800
        7.0            21
        9.0            23
50.0    1.0           227
        2.0          6536
        7.0            10
        9.0            10
53.0    1.0           659
        2.0         13268
        7.0            20
        9.0            14
55.0    1.0           220
        2.0          4243
        7.0             4
        9.0             9
dtype: int64

In [66]:
brfss_2011_small.groupby(['_STATE', 'ACEDIVRC']).size()

_STATE  ACEDIVRC
27.0    1.0          2390
        2.0         11224
        7.0            37
        8.0           118
        9.0           179
30.0    1.0          2035
        2.0          7214
        7.0            31
        8.0            22
        9.0            24
50.0    1.0          1268
        2.0          5458
        7.0            17
        8.0            20
        9.0            19
53.0    1.0          3218
        2.0         10603
        7.0            70
        8.0            49
        9.0            20
55.0    1.0           834
        2.0          3585
        7.0            22
        8.0            19
        9.0            16
dtype: int64

In [67]:
brfss_2011_small.groupby(['_STATE', 'ACEPUNCH']).size()

_STATE  ACEPUNCH
27.0    1.0         11722
        2.0           527
        3.0          1320
        7.0           154
        9.0           220
30.0    1.0          7679
        2.0           277
        3.0          1187
        7.0           102
        9.0            78
50.0    1.0          5780
        2.0           238
        3.0           676
        7.0            44
        9.0            44
53.0    1.0         11460
        2.0           659
        3.0          1677
        7.0           118
        9.0            46
55.0    1.0          3700
        2.0           194
        3.0           507
        7.0            38
        9.0            37
dtype: int64

In [68]:
brfss_2011_small.groupby(['_STATE', 'ACEHURT']).size()

_STATE  ACEHURT
27.0    1.0        11626
        2.0          601
        3.0         1429
        7.0           58
        9.0          227
30.0    1.0         7712
        2.0          364
        3.0         1155
        7.0           36
        9.0           55
50.0    1.0         5750
        2.0          238
        3.0          708
        7.0           27
        9.0           58
53.0    1.0        11372
        2.0          594
        3.0         1891
        7.0           44
        9.0           58
55.0    1.0         3739
        2.0          194
        3.0          501
        7.0            7
        9.0           34
dtype: int64

In [69]:
brfss_2011_small.groupby(['_STATE', 'ACESWEAR']).size()

_STATE  ACESWEAR
27.0    1.0         9028
        2.0          908
        3.0         3584
        7.0          177
        9.0          241
30.0    1.0         5958
        2.0          569
        3.0         2655
        7.0           79
        9.0           61
50.0    1.0         4599
        2.0          357
        3.0         1693
        7.0           68
        9.0           64
53.0    1.0         8763
        2.0          842
        3.0         4144
        7.0          137
        9.0           68
55.0    1.0         2896
        2.0          400
        3.0         1121
        7.0           24
        9.0           33
dtype: int64

In [70]:
brfss_2011_small.groupby(['_STATE', 'ACETOUCH']).size()

_STATE  ACETOUCH
27.0    1.0         12374
        2.0           480
        3.0           749
        7.0            50
        9.0           284
30.0    1.0          8194
        2.0           351
        3.0           659
        7.0            27
        9.0            88
50.0    1.0          5979
        2.0           225
        3.0           467
        7.0            22
        9.0            88
53.0    1.0         11874
        2.0           691
        3.0          1215
        7.0            40
        9.0           131
55.0    1.0          4020
        2.0           153
        3.0           252
        7.0             7
        9.0            41
dtype: int64

In [71]:
brfss_2011_small.groupby(['_STATE', 'ACETTHEM']).size()

_STATE  ACETTHEM
27.0    1.0         12745
        2.0           362
        3.0           501
        7.0            61
        9.0           264
30.0    1.0          8501
        2.0           241
        3.0           460
        7.0            29
        9.0            87
50.0    1.0          6199
        2.0           159
        3.0           321
        7.0            25
        9.0            77
53.0    1.0         12450
        2.0           494
        3.0           836
        7.0            44
        9.0           125
55.0    1.0          4160
        2.0           110
        3.0           158
        7.0             4
        9.0            37
dtype: int64

In [72]:
brfss_2011_small.groupby(['_STATE', 'ACEHVSEX']).size()

_STATE  ACEHVSEX
27.0    1.0         13168
        2.0           176
        3.0           277
        7.0            48
        9.0           260
30.0    1.0          8785
        2.0           149
        3.0           281
        7.0            20
        9.0            79
50.0    1.0          6415
        2.0            81
        3.0           186
        7.0            17
        9.0            80
53.0    1.0         13089
        2.0           204
        3.0           471
        7.0            48
        9.0           135
55.0    1.0          4260
        2.0            70
        3.0            99
        7.0             4
        9.0            35
dtype: int64

In [10]:
# reading in 2012 BRFSS
df_12 = pd.read_sas('./SAS_Data/LLCP2012.XPT', format='xport')

In [78]:
df_12.shape

(475687, 359)

In [11]:
# looks like they got rid of the anxiety and depression module for 2012
brfss_2012_small = df_12[['_STATE', 'DISPCODE', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'SMOKE100', 
                       'SMOKDAY2', 'STOPSMK2', 'USENOW3', 'AGE', 'HISPANC2', 'MRACE', 'ORACE2', 'MARITAL',
                       'CHILDREN', 'EDUCA', 'EMPLOY', 'INCOME2', 'RENTHOM1', 'SEX', 'EXERANY2', 'QLACTLM2',
                        'AVEDRNK2', 'DRNK3GE5', 'QLREST2', 'SLEPTIME', 'SCNTMONY', 'SCNTMEAL', 
                       'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'MSCODE', '_IMPAGE', '_RFHLTH', '_SMOKER3', 
                       '_RFSMOK3', '_PRACE', '_EDUCAG', '_INCOMG', '_TOTINDA']]

In [106]:
brfss_2012_small.shape

(475687, 49)

In [107]:
brfss_2012_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475687 entries, 0 to 475686
Data columns (total 49 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    475687 non-null  float64
 1   DISPCODE  475687 non-null  float64
 2   GENHLTH   475683 non-null  float64
 3   PHYSHLTH  475686 non-null  float64
 4   MENTHLTH  475687 non-null  float64
 5   POORHLTH  248860 non-null  float64
 6   SMOKE100  468844 non-null  float64
 7   SMOKDAY2  211815 non-null  float64
 8   STOPSMK2  76062 non-null   float64
 9   USENOW3   468379 non-null  float64
 10  AGE       475687 non-null  float64
 11  HISPANC2  475687 non-null  float64
 12  MRACE     475687 non-null  object
 13  ORACE2    10235 non-null   float64
 14  MARITAL   475389 non-null  float64
 15  CHILDREN  475312 non-null  float64
 16  EDUCA     475242 non-null  float64
 17  EMPLOY    475136 non-null  float64
 18  INCOME2   474937 non-null  float64
 19  RENTHOM1  473414 non-null  float64
 20  SEX       475687 non-null  float64
 21  EXERANY2  475678 non-null  float64
 22  QLACTLM2  470108 non-null  float64
 23  AVEDRNK2  230594 non-null  float64
 24  DRNK3GE5  230237 non-null  float64
 25  QLREST2   25533 non-null   float64
 26  SLEPTIME  25518 non-null   float64
 27  SCNTMONY  52185 non-null   float64
 28  SCNTMEAL  55823 non-null   float64
 29  ACEDEPRS  32823 non-null   float64
 30  ACEDRINK  32794 non-null   float64
 31  ACEDRUGS  32786 non-null   float64
 32  ACEPRISN  32784 non-null   float64
 33  ACEDIVRC  32783 non-null   float64
 34  ACEPUNCH  32774 non-null   float64
 35  ACEHURT   32765 non-null   float64
 36  ACESWEAR  32749 non-null   float64
 37  ACETOUCH  32744 non-null   float64
 38  ACETTHEM  32724 non-null   float64
 39  ACEHVSEX  32701 non-null   float64
 40  MSCODE    371923 non-null  float64
 41  _IMPAGE   475687 non-null  float64
 42  _RFHLTH   475687 non-null  float64
 43  _SMOKER3  475687 non-null  float64
 44  _RFSMOK3  475687 non-null  float64
 45  _PRACE    475469 non-null  float64
 46  _EDUCAG   475687 non-null  float64
 47  _INCOMG   475687 non-null  float64
 48  _TOTINDA  475687 non-null  float64
dtypes: float64(48), object(1)
memory usage: 177.8+ MB

In [12]:
# turning my 2012 data into a pickle file
pd.to_pickle(brfss_2012_small, './Pickled_Data/brfss_2012.pkl')

In [13]:
# reading in 2010 BRFSS
df_10 = pd.read_sas('./SAS_Data/CDBRFS10.XPT', format='xport')

In [88]:
df_10.shape

(451075, 397)

In [14]:
# looks like they got rid of the anxiety and depression module for 2012
brfss_2010_small = df_10[['_STATE', 'DISPCODE', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'SMOKE100', 
                       'SMOKDAY2', 'STOPSMK2', 'USENOW3', 'AGE', 'HISPANC2', 'MRACE', 'ORACE2', 'MARITAL',
                       'CHILDREN', 'EDUCA', 'EMPLOY', 'INCOME2', 'RENTHOM1', 'SEX', 'EXERANY2', 'QLACTLM2',
                        'AVEDRNK2', 'DRNK3GE5', 'QLREST2', 'SLEPTIME', 'SCNTMONY', 'SCNTMEAL', 
                       'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'MSCODE', '_IMPAGE', '_RFHLTH', '_SMOKER3', 
                       '_RFSMOK3', '_PRACE', '_EDUCAG', '_INCOMG', '_TOTINDA']]

In [92]:
brfss_2010_small.shape

(451075, 49)

In [93]:
brfss_2010_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451075 entries, 0 to 451074
Data columns (total 49 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    451075 non-null  float64
 1   DISPCODE  451075 non-null  float64
 2   GENHLTH   451068 non-null  float64
 3   PHYSHLTH  451069 non-null  float64
 4   MENTHLTH  451071 non-null  float64
 5   POORHLTH  235366 non-null  float64
 6   SMOKE100  451074 non-null  float64
 7   SMOKDAY2  207503 non-null  float64
 8   STOPSMK2  70722 non-null   float64
 9   USENOW3   451073 non-null  float64
 10  AGE       451074 non-null  float64
 11  HISPANC2  451074 non-null  float64
 12  MRACE     451075 non-null  object
 13  ORACE2    8833 non-null    float64
 14  MARITAL   450875 non-null  float64
 15  CHILDREN  450839 non-null  float64
 16  EDUCA     450792 non-null  float64
 17  EMPLOY    450724 non-null  float64
 18  INCOME2   450600 non-null  float64
 19  RENTHOM1  20103 non-null   float64
 20  SEX       451075 non-null  float64
 21  EXERANY2  451073 non-null  float64
 22  QLACTLM2  451071 non-null  float64
 23  AVEDRNK2  208825 non-null  float64
 24  DRNK3GE5  208527 non-null  float64
 25  QLREST2   451072 non-null  float64
 26  SLEPTIME  47262 non-null   float64
 27  SCNTMONY  19238 non-null   float64
 28  SCNTMEAL  20097 non-null   float64
 29  ACEDEPRS  24405 non-null   float64
 30  ACEDRINK  24381 non-null   float64
 31  ACEDRUGS  24376 non-null   float64
 32  ACEPRISN  24374 non-null   float64
 33  ACEDIVRC  24368 non-null   float64
 34  ACEPUNCH  24362 non-null   float64
 35  ACEHURT   24353 non-null   float64
 36  ACESWEAR  24343 non-null   float64
 37  ACETOUCH  24335 non-null   float64
 38  ACETTHEM  24330 non-null   float64
 39  ACEHVSEX  24322 non-null   float64
 40  MSCODE    444927 non-null  float64
 41  _IMPAGE   451075 non-null  float64
 42  _RFHLTH   451075 non-null  float64
 43  _SMOKER3  451075 non-null  float64
 44  _RFSMOK3  451075 non-null  float64
 45  _PRACE    450895 non-null  float64
 46  _EDUCAG   451075 non-null  float64
 47  _INCOMG   451075 non-null  float64
 48  _TOTINDA  451075 non-null  float64
dtypes: float64(48), object(1)
memory usage: 168.6+ MB

In [16]:
# turning my 2010 data into a pickle file
pd.to_pickle(brfss_2010_small, './Pickled_Data/brfss_2010.pkl')

In [17]:
# reading in 2009 BRFSS
df_09 = pd.read_sas('./SAS_Data/CDBRFS09.XPT', format='xport')

In [96]:
df_09.shape

(432607, 405)

In [18]:
# looks like they got rid of the anxiety and depression module for 2012
brfss_2009_small = df_09[['_STATE', 'DISPCODE', 'GENHLTH', 'PHYSHLTH', 'MENTHLTH', 'POORHLTH', 'SMOKE100', 
                       'SMOKDAY2', 'STOPSMK2', 'USENOW3', 'AGE', 'HISPANC2', 'MRACE', 'ORACE2', 'MARITAL',
                       'CHILDREN', 'EDUCA', 'EMPLOY', 'INCOME2', 'RENTHOM1', 'SEX', 'EXERANY2', 'QLACTLM2',
                        'AVEDRNK2', 'DRNK3GE5', 'QLREST2', 'SLEPTIME', 'SCNTMONY', 'SCNTMEAL', 
                       'ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX', 'MSCODE', '_IMPAGE', '_RFHLTH', '_SMOKER3', 
                       '_RFSMOK3', '_PRACE', '_EDUCAG', '_INCOMG', '_TOTINDA']]

In [98]:
brfss_2009_small.shape

(432607, 49)

In [99]:
brfss_2009_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432607 entries, 0 to 432606
Data columns (total 49 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    432607 non-null  float64
 1   DISPCODE  432607 non-null  float64
 2   GENHLTH   432601 non-null  float64
 3   PHYSHLTH  432606 non-null  float64
 4   MENTHLTH  432606 non-null  float64
 5   POORHLTH  224896 non-null  float64
 6   SMOKE100  432607 non-null  float64
 7   SMOKDAY2  199479 non-null  float64
 8   STOPSMK2  69773 non-null   float64
 9   USENOW3   426765 non-null  float64
 10  AGE       432607 non-null  float64
 11  HISPANC2  432607 non-null  float64
 12  MRACE     432607 non-null  object
 13  ORACE2    8186 non-null    float64
 14  MARITAL   432455 non-null  float64
 15  CHILDREN  432425 non-null  float64
 16  EDUCA     432391 non-null  float64
 17  EMPLOY    432327 non-null  float64
 18  INCOME2   432213 non-null  float64
 19  RENTHOM1  46514 non-null   float64
 20  SEX       432607 non-null  float64
 21  EXERANY2  432606 non-null  float64
 22  QLACTLM2  427206 non-null  float64
 23  AVEDRNK2  200503 non-null  float64
 24  DRNK3GE5  200282 non-null  float64
 25  QLREST2   432602 non-null  float64
 26  SLEPTIME  37329 non-null   float64
 27  SCNTMONY  43989 non-null   float64
 28  SCNTMEAL  46494 non-null   float64
 29  ACEDEPRS  12119 non-null   float64
 30  ACEDRINK  12117 non-null   float64
 31  ACEDRUGS  12117 non-null   float64
 32  ACEPRISN  12116 non-null   float64
 33  ACEDIVRC  12115 non-null   float64
 34  ACEPUNCH  12114 non-null   float64
 35  ACEHURT   12111 non-null   float64
 36  ACESWEAR  12109 non-null   float64
 37  ACETOUCH  12107 non-null   float64
 38  ACETTHEM  12103 non-null   float64
 39  ACEHVSEX  12100 non-null   float64
 40  MSCODE    422665 non-null  float64
 41  _IMPAGE   432607 non-null  float64
 42  _RFHLTH   432607 non-null  float64
 43  _SMOKER3  432607 non-null  float64
 44  _RFSMOK3  432607 non-null  float64
 45  _PRACE    432462 non-null  float64
 46  _EDUCAG   432607 non-null  float64
 47  _INCOMG   432607 non-null  float64
 48  _TOTINDA  432607 non-null  float64
dtypes: float64(48), object(1)
memory usage: 161.7+ MB

In [19]:
# turning my 2009 data into a pickle file
pd.to_pickle(brfss_2009_small, './Pickled_Data/brfss_2009.pkl')

In [104]:
pd.concat([brfss_2009_small, brfss_2010_small, brfss_2011_small], ignore_index=True)

,_STATE,DISPCODE,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,SMOKE100,SMOKDAY2,STOPSMK2,USENOW3,...,ADTHINK,ADMOVE,MISTMNT,ADANXEV,_IMPRACE,_BMI5CAT,_RFBING5,_DRNKDY4,_DRNKMO4,_RFDRHV4
0,1.0,120.0,3.0,88.0,88.0,NaN,1.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,120.0,4.0,15.0,88.0,88.0,1.0,1.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,120.0,5.0,7.0,88.0,77.0,1.0,1.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,120.0,5.0,30.0,30.0,30.0,1.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,120.0,2.0,4.0,15.0,88.0,2.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390144,72.0,110.0,2.0,30.0,15.0,88.0,1.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,5.0,2.0,1.0,5.397605e-79,5.397605e-79,1.0
1390145,72.0,110.0,4.0,30.0,25.0,88.0,2.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,5.0,4.0,2.0,2.700000e+01,8.000000e+00,1.0
1390146,72.0,110.0,4.0,88.0,88.0,NaN,2.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,5.0,2.0,1.0,5.397605e-79,5.397605e-79,1.0
1390147,72.0,110.0,2.0,88.0,88.0,NaN,2.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,5.0,2.0,1.0,5.397605e-79,5.397605e-79,1.0
1390148,72.0,110.0,3.0,1.0,2.0,88.0,1.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,5.0,1.0,1.0,5.397605e-79,5.397605e-79,1.0