In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# just checking to see how my pickle file reads into the notebook
brfss_2009 = pd.read_pickle('./Pickled_Data/brfss_2009.pkl')
brfss_2010 = pd.read_pickle('./Pickled_Data/brfss_2010.pkl')
brfss_2011 = pd.read_pickle('./Pickled_Data/brfss_2011.pkl')
brfss_2012 = pd.read_pickle('./Pickled_Data/brfss_2012.pkl')

In [4]:
# since I'm interested specifically in ACE then any row with null values for those questions will be dropped
brfss_2009.dropna(subset=['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX'], inplace=True)

In [5]:
brfss_2009.head()

,_STATE,DISPCODE,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,SMOKE100,SMOKDAY2,STOPSMK2,USENOW3,...,ACEHVSEX,MSCODE,_IMPAGE,_RFHLTH,_SMOKER3,_RFSMOK3,_PRACE,_EDUCAG,_INCOMG,_TOTINDA
14697,5.0,110.0,2.0,88.0,88.0,NaN,2.0,NaN,NaN,3.0,...,1.0,5.0,53.0,1.0,4.0,1.0,1.0,3.0,5.0,1.0
14699,5.0,110.0,4.0,15.0,77.0,88.0,1.0,3.0,NaN,3.0,...,1.0,5.0,64.0,2.0,3.0,1.0,1.0,2.0,2.0,1.0
14700,5.0,110.0,2.0,6.0,88.0,6.0,2.0,NaN,NaN,3.0,...,1.0,5.0,58.0,1.0,4.0,1.0,1.0,3.0,2.0,1.0
14701,5.0,110.0,5.0,30.0,88.0,88.0,2.0,NaN,NaN,3.0,...,1.0,5.0,76.0,2.0,4.0,1.0,1.0,1.0,9.0,2.0
14704,5.0,110.0,4.0,13.0,88.0,88.0,1.0,3.0,NaN,3.0,...,9.0,5.0,82.0,2.0,3.0,1.0,1.0,2.0,9.0,2.0

In [6]:
# will drop columns that are used to calculate other variables that I won't be dropping such as 'AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2',
# '_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2'
# will only keep those who completed the interview? DISPCODE of 110, drop code of 120
brfss_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12098 entries, 14697 to 151439
Data columns (total 49 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _STATE    12098 non-null  float64
 1   DISPCODE  12098 non-null  float64
 2   GENHLTH   12098 non-null  float64
 3   PHYSHLTH  12098 non-null  float64
 4   MENTHLTH  12098 non-null  float64
 5   POORHLTH  6312 non-null   float64
 6   SMOKE100  12098 non-null  float64
 7   SMOKDAY2  5778 non-null   float64
 8   STOPSMK2  2274 non-null   float64
 9   USENOW3   12098 non-null  float64
 10  AGE       12098 non-null  float64
 11  HISPANC2  12098 non-null  float64
 12  MRACE     12098 non-null  object
 13  ORACE2    148 non-null    float64
 14  MARITAL   12098 non-null  float64
 15  CHILDREN  12098 non-null  float64
 16  EDUCA     12098 non-null  float64
 17  EMPLOY    12098 non-null  float64
 18  INCOME2   12098 non-null  float64
 19  RENTHOM1  8417 non-null   float64
 20  SEX       12098 non-null  float64
 21  EXERANY2  12098 non-null  float64
 22  QLACTLM2  12098 non-null  float64
 23  AVEDRNK2  4695 non-null   float64
 24  DRNK3GE5  4695 non-null   float64
 25  QLREST2   12098 non-null  float64
 26  SLEPTIME  8417 non-null   float64
 27  SCNTMONY  8017 non-null   float64
 28  SCNTMEAL  8417 non-null   float64
 29  ACEDEPRS  12098 non-null  float64
 30  ACEDRINK  12098 non-null  float64
 31  ACEDRUGS  12098 non-null  float64
 32  ACEPRISN  12098 non-null  float64
 33  ACEDIVRC  12098 non-null  float64
 34  ACEPUNCH  12098 non-null  float64
 35  ACEHURT   12098 non-null  float64
 36  ACESWEAR  12098 non-null  float64
 37  ACETOUCH  12098 non-null  float64
 38  ACETTHEM  12098 non-null  float64
 39  ACEHVSEX  12098 non-null  float64
 40  MSCODE    12098 non-null  float64
 41  _IMPAGE   12098 non-null  float64
 42  _RFHLTH   12098 non-null  float64
 43  _SMOKER3  12098 non-null  float64
 44  _RFSMOK3  12098 non-null  float64
 45  _PRACE    12098 non-null  float64
 46  _EDUCAG   12098 non-null  float64
 47  _INCOMG   12098 non-null  float64
 48  _TOTINDA  12098 non-null  float64
dtypes: float64(48), object(1)
memory usage: 4.6+ MB

In [7]:
brfss_2009.drop(columns = ['AGE', 'GENHLTH', 'SMOKE100', 'SMOKDAY2','_RFSMOK3', 'MRACE', 'ORACE2', 'EDUCA', 'INCOME2', 'EXERANY2'], inplace=True)

In [8]:
brfss_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12098 entries, 14697 to 151439
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _STATE    12098 non-null  float64
 1   DISPCODE  12098 non-null  float64
 2   PHYSHLTH  12098 non-null  float64
 3   MENTHLTH  12098 non-null  float64
 4   POORHLTH  6312 non-null   float64
 5   STOPSMK2  2274 non-null   float64
 6   USENOW3   12098 non-null  float64
 7   HISPANC2  12098 non-null  float64
 8   MARITAL   12098 non-null  float64
 9   CHILDREN  12098 non-null  float64
 10  EMPLOY    12098 non-null  float64
 11  RENTHOM1  8417 non-null   float64
 12  SEX       12098 non-null  float64
 13  QLACTLM2  12098 non-null  float64
 14  AVEDRNK2  4695 non-null   float64
 15  DRNK3GE5  4695 non-null   float64
 16  QLREST2   12098 non-null  float64
 17  SLEPTIME  8417 non-null   float64
 18  SCNTMONY  8017 non-null   float64
 19  SCNTMEAL  8417 non-null   float64
 20  ACEDEPRS  12098 non-null  float64
 21  ACEDRINK  12098 non-null  float64
 22  ACEDRUGS  12098 non-null  float64
 23  ACEPRISN  12098 non-null  float64
 24  ACEDIVRC  12098 non-null  float64
 25  ACEPUNCH  12098 non-null  float64
 26  ACEHURT   12098 non-null  float64
 27  ACESWEAR  12098 non-null  float64
 28  ACETOUCH  12098 non-null  float64
 29  ACETTHEM  12098 non-null  float64
 30  ACEHVSEX  12098 non-null  float64
 31  MSCODE    12098 non-null  float64
 32  _IMPAGE   12098 non-null  float64
 33  _RFHLTH   12098 non-null  float64
 34  _SMOKER3  12098 non-null  float64
 35  _PRACE    12098 non-null  float64
 36  _EDUCAG   12098 non-null  float64
 37  _INCOMG   12098 non-null  float64
 38  _TOTINDA  12098 non-null  float64
dtypes: float64(39)
memory usage: 3.7 MB

In [9]:
# out of 12,098 entries, only 8 columns have null values
brfss_2009.isna().sum()

_STATE         0
DISPCODE       0
PHYSHLTH       0
MENTHLTH       0
POORHLTH    5786
STOPSMK2    9824
USENOW3        0
HISPANC2       0
MARITAL        0
CHILDREN       0
EMPLOY         0
RENTHOM1    3681
SEX            0
QLACTLM2       0
AVEDRNK2    7403
DRNK3GE5    7403
QLREST2        0
SLEPTIME    3681
SCNTMONY    4081
SCNTMEAL    3681
ACEDEPRS       0
ACEDRINK       0
ACEDRUGS       0
ACEPRISN       0
ACEDIVRC       0
ACEPUNCH       0
ACEHURT        0
ACESWEAR       0
ACETOUCH       0
ACETTHEM       0
ACEHVSEX       0
MSCODE         0
_IMPAGE        0
_RFHLTH        0
_SMOKER3       0
_PRACE         0
_EDUCAG        0
_INCOMG        0
_TOTINDA       0
dtype: int64

In [10]:
# replacing all don't knows, refused answers or none with zeros
brfss_2009 = brfss_2009.replace({77:0, 88:0, 99:0, 7:0, 8:0, 9:0})

In [11]:
# will replace 77, 88, 99 and nulls with 0
#brfss_2009['POORHLTH'] = brfss_2009['POORHLTH'].map({77:0, 88:0, 99:0})
brfss_2009['POORHLTH'].fillna(0, inplace=True)

In [12]:
# will get rid of 'STOPSMK2' alltogether since 3/4 of values are missing
brfss_2009.drop(columns='STOPSMK2', inplace=True)

In [13]:
# will replace nulls with 0
brfss_2009['RENTHOM1'].fillna(0, inplace = True)

In [14]:
# maybe look into keeping 'DROCDY2_' and *'_RFBING4'*, '_DRNKDY3'
# will replace 77, 99 and nulls with mean
#brfss_2009['AVEDRNK2'] = brfss_2009['AVEDRNK2'].map({77:0, 99:0})
ad2_mean = np.mean(brfss_2009['AVEDRNK2'])
brfss_2009['AVEDRNK2'] = brfss_2009['AVEDRNK2'].replace({0:ad2_mean})
brfss_2009['AVEDRNK2'].fillna(ad2_mean, inplace=True)

In [15]:
# will replace 77, 99, and nulls with mean
#brfss_2009['DRNK3GE5'] = brfss_2009['DRNK3GE5'].map({77:0, 99:0})
dge_mean = np.mean(brfss_2009['DRNK3GE5'])
brfss_2009['DRNK3GE5'] = brfss_2009['DRNK3GE5'].replace({0:dge_mean})
brfss_2009['DRNK3GE5'].fillna(dge_mean, inplace=True)

In [16]:
# will replace 77, 99 and blanks with mean
#brfss_2009['SLEPTIME'] = brfss_2009['SLEPTIME'].map({77:0, 99:0})
sleep_mean = np.mean(brfss_2009['SLEPTIME'])
brfss_2009['SLEPTIME'].replace({0:sleep_mean})
brfss_2009['SLEPTIME'].fillna(sleep_mean, inplace=True)

In [17]:
# will replace 7, 8, 9 and nulls with 0
#brfss_2009['SCNTMONY'] = brfss_2009['SCNTMONY'].map({7:0, 8:0, 9:0})
brfss_2009['SCNTMONY'].fillna(0, inplace=True)

In [18]:
# will replace 7, 8, 9 and nulls with 0
#brfss_2009['SCNTMEAL'] = brfss_2009['SCNTMEAL'].map({7:0, 8:0, 9:0})
brfss_2009['SCNTMEAL'].fillna(0, inplace=True)

In [19]:
brfss_2009.head()

,_STATE,DISPCODE,PHYSHLTH,MENTHLTH,POORHLTH,USENOW3,HISPANC2,MARITAL,CHILDREN,EMPLOY,...,ACETTHEM,ACEHVSEX,MSCODE,_IMPAGE,_RFHLTH,_SMOKER3,_PRACE,_EDUCAG,_INCOMG,_TOTINDA
14697,5.0,110.0,0.0,0.0,0.0,3.0,2.0,1.0,1.0,2.0,...,1.0,1.0,5.0,53.0,1.0,4.0,1.0,3.0,5.0,1.0
14699,5.0,110.0,15.0,0.0,0.0,3.0,2.0,2.0,0.0,0.0,...,1.0,1.0,5.0,64.0,2.0,3.0,1.0,2.0,2.0,1.0
14700,5.0,110.0,6.0,0.0,6.0,3.0,2.0,1.0,0.0,0.0,...,1.0,1.0,5.0,58.0,1.0,4.0,1.0,3.0,2.0,1.0
14701,5.0,110.0,30.0,0.0,0.0,3.0,2.0,1.0,0.0,0.0,...,1.0,1.0,5.0,76.0,2.0,4.0,1.0,1.0,0.0,2.0
14704,5.0,110.0,13.0,0.0,0.0,3.0,2.0,3.0,0.0,0.0,...,1.0,0.0,5.0,82.0,2.0,3.0,1.0,2.0,0.0,2.0

In [20]:
brfss_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12098 entries, 14697 to 151439
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _STATE    12098 non-null  float64
 1   DISPCODE  12098 non-null  float64
 2   PHYSHLTH  12098 non-null  float64
 3   MENTHLTH  12098 non-null  float64
 4   POORHLTH  12098 non-null  float64
 5   USENOW3   12098 non-null  float64
 6   HISPANC2  12098 non-null  float64
 7   MARITAL   12098 non-null  float64
 8   CHILDREN  12098 non-null  float64
 9   EMPLOY    12098 non-null  float64
 10  RENTHOM1  12098 non-null  float64
 11  SEX       12098 non-null  float64
 12  QLACTLM2  12098 non-null  float64
 13  AVEDRNK2  12098 non-null  float64
 14  DRNK3GE5  12098 non-null  float64
 15  QLREST2   12098 non-null  float64
 16  SLEPTIME  12098 non-null  float64
 17  SCNTMONY  12098 non-null  float64
 18  SCNTMEAL  12098 non-null  float64
 19  ACEDEPRS  12098 non-null  float64
 20  ACEDRINK  12098 non-null  float64
 21  ACEDRUGS  12098 non-null  float64
 22  ACEPRISN  12098 non-null  float64
 23  ACEDIVRC  12098 non-null  float64
 24  ACEPUNCH  12098 non-null  float64
 25  ACEHURT   12098 non-null  float64
 26  ACESWEAR  12098 non-null  float64
 27  ACETOUCH  12098 non-null  float64
 28  ACETTHEM  12098 non-null  float64
 29  ACEHVSEX  12098 non-null  float64
 30  MSCODE    12098 non-null  float64
 31  _IMPAGE   12098 non-null  float64
 32  _RFHLTH   12098 non-null  float64
 33  _SMOKER3  12098 non-null  float64
 34  _PRACE    12098 non-null  float64
 35  _EDUCAG   12098 non-null  float64
 36  _INCOMG   12098 non-null  float64
 37  _TOTINDA  12098 non-null  float64
dtypes: float64(38)
memory usage: 3.6 MB

In [21]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression, Ridge, Lasso, ElasticNet, LinearRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import PolynomialFeatures

**Possible variables I can try to predict:**
- MENTHLTH: for how many days during the past 30 days was your mental health not good?
    - regression
- POORHLTH:  for about how many days did poor physical or mental health keep you from doing your usual activities, such as self-care, work, or recreation?
    - regression
- USENOW3: Do you currently use chewing tobacco, snuff, or snus every day, some days, or not at all?
    - classification
- QLACTLM2: Are you limited in any way in any activities because of physical, mental, or emotional problems?
    - classification
- AVEDRINK2: During the past 30 days, on the days when you drank, about how many drinks did you drink on the average?
    - regression
- DRNK3GE5 (Binge Drinking): Considering all types of alcoholic beverages, how many times during the past 30 days did you have 5 or more drinks for men or 4 or more drinks for women on an occasion?
    - regression
- _RFHLTH: Adults with good or better health vs. fair or poor health
    - classification
    - based off of GENHLTH
- _SMOKER3: Four-level smoker status: Everyday smoker, Someday smoker, Former smoker, Non-smoker
    - classification
    - based off of SMOKE100 & SMOKEDAY

In [22]:
from sklearn.metrics import mean_squared_error as mse

In [23]:
X = brfss_2009[['ACEDEPRS', 'ACEDRINK', 'ACEDRUGS', 'ACEPRISN', 'ACEDIVRC', 'ACEPUNCH', 'ACEHURT', 'ACESWEAR', 
                       'ACETOUCH', 'ACETTHEM', 'ACEHVSEX']]

y_class = brfss_2009['_SMOKER3']
y_reg = brfss_2009['AVEDRNK2']

In [24]:
X_train, X_test, y_train_class, y_test_class = train_test_split(X, y_class)
X_train, X_test, y_train_reg, y_test_reg = train_test_split(X, y_reg)

log_r = LogisticRegression()
lr = LinearRegression()

log_r.fit(X_train, y_train_class)
lr.fit(X_train, y_train_reg)

smoker3_test = log_r.score(X_test, y_test_class)

smoker3_train = log_r.score(X_train, y_train_class)

avedrink2_test = lr.score(X_test, y_test_reg)

avedrink2_train = lr.score(X_train, y_train_reg)

class_preds = log_r.predict(X_test)

reg_preds = lr.predict(X_test)

reg_rmse = mse(y_test_reg, reg_preds, squared = False)

rmse_scores = [dict(drinks_avg = reg_rmse)]

C:\Users\eboni\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [25]:
rmse_scores

[{'drinks_avg': 1.062458264273578}]

In [26]:
y_reg2 = brfss_2009['MENTHLTH']
y_class2 = brfss_2009['USENOW3']

X_train2, X_test2, y_train_class2, y_test_class2 = train_test_split(X, y_class2)
X_train2, X_test2, y_train_reg2, y_test_reg2 = train_test_split(X, y_reg2)

log_r2 = LogisticRegression()
lr2 = LinearRegression()

log_r2.fit(X_train2, y_train_class2)
lr2.fit(X_train2, y_train_reg2)

class_preds2 = log_r2.predict(X_test2)
reg_preds2 = lr2.predict(X_test2)

reg_rmse2 = mse(y_test_reg2, reg_preds2, squared = False)

rmse_scores.append(dict(mental_health = reg_rmse2))

tobacco_products_test = log_r2.score(X_test2, y_test_class2)

tobacco_products_train = log_r2.score(X_train2, y_train_class2)

mental_health_test = lr2.score(X_test2, y_test_reg2)

mental_health_train = lr2.score(X_train2, y_train_reg2)

C:\Users\eboni\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [27]:
accuracy_scores = [{'smoker3 test score': smoker3_test, 'smoker3 train score': smoker3_train, 'tobacco products test score': tobacco_products_test, 'tobacco products train score': tobacco_products_train}]
r_scores = [{'avedrink2 test score': avedrink2_test, 'avedrink2 train score': avedrink2_train, 'mental health test score': mental_health_test, 'mental health train score': mental_health_train}]

In [28]:
y_reg3 = brfss_2009['DRNK3GE5']
y_class3 = brfss_2009['_RFHLTH']

X_train3, X_test3, y_train_class3, y_test_class3 = train_test_split(X, y_class3)
X_train3, X_test3, y_train_reg3, y_test_reg3 = train_test_split(X, y_reg3)

log_r3 = LogisticRegression()
lr3 = LinearRegression()

log_r3.fit(X_train3, y_train_class3)
lr3.fit(X_train3, y_train_reg3)

class_preds3 = log_r3.predict(X_test3)
reg_preds3 = lr3.predict(X_test3)

reg_rmse3 = mse(y_test_reg3, reg_preds3, squared = False)

rmse_scores.append(dict(binge_drinking = reg_rmse3))

binge_drinking_test = log_r3.score(X_test3, y_test_class3)

binge_drinking_train = log_r3.score(X_train3, y_train_class3)

overall_health_test = lr3.score(X_test3, y_test_reg3)

overall_health_train = lr3.score(X_train3, y_train_reg3)

r_scores.append({'binge drinking test score': overall_health_test, 'binge drinking train score': overall_health_train})
accuracy_scores.append({'overall health test score': binge_drinking_test, 'overall health train score': binge_drinking_train})

C:\Users\eboni\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [29]:
y_reg4 = brfss_2009['POORHLTH']
y_class4 = brfss_2009['QLACTLM2']

X_train4, X_test4, y_train_class4, y_test_class4 = train_test_split(X, y_class4)
X_train4, X_test4, y_train_reg4, y_test_reg4 = train_test_split(X, y_reg4)

log_r4 = LogisticRegression()
lr4 = LinearRegression()

log_r4.fit(X_train4, y_train_class4)
lr4.fit(X_train4, y_train_reg4)

class_preds4 = log_r4.predict(X_test4)
reg_preds4 = lr4.predict(X_test4)

reg_rmse4 = mse(y_test_reg4, reg_preds4, squared = False)

rmse_scores.append(dict(binge_drinking = reg_rmse4))

limited_activity_test = log_r4.score(X_test4, y_test_class4)

limited_activity_train = log_r4.score(X_train4, y_train_class4)

poor_health_test = lr4.score(X_test4, y_test_reg4)

poor_health_train = lr4.score(X_train4, y_train_reg4)

r_scores.append({'poor health test score': overall_health_test, 'poor health train score': overall_health_train})
accuracy_scores.append({'limited activity test score': binge_drinking_test, 'limited activity train score': binge_drinking_train})

C:\Users\eboni\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
rmse_scores

[{'drinks_avg': 1.062458264273578},
 {'mental_health': 8.188045718656412},
 {'binge_drinking': 2.2880043167333075},
 {'binge_drinking': 7.86302401695184}]

In [31]:
r_scores

[{'avedrink2 test score': 0.0004614681576203816,
  'avedrink2 train score': 0.0025167253648297194,
  'mental health test score': 0.04802007082669346,
  'mental health train score': 0.042139282940726774},
 {'binge drinking test score': -0.0023354005640945363,
  'binge drinking train score': 0.004157745297649007},
 {'poor health test score': -0.0023354005640945363,
  'poor health train score': 0.004157745297649007}]

In [32]:
accuracy_scores

[{'smoker3 test score': 0.52,
  'smoker3 train score': 0.5191226716631765,
  'tobacco products test score': 0.9652892561983472,
  'tobacco products train score': 0.9627466108233219},
 {'overall health test score': 0.7424793388429752,
  'overall health train score': 0.7319519453323047},
 {'limited activity test score': 0.7424793388429752,
  'limited activity train score': 0.7319519453323047}]